
hisorylog.txt
model/__pycache__/
utils/__pycache__/
View/__pycache__/
View/Face/__pycache__/
View/Gesture/__pycache__/
View/Face/__pycache__/
View/Gesture/__pycache__/
*.pyc
data/user_db/ds_model_vggface_detector_opencv_aligned_normalization_base_expand_0.pkl